server:
  port: 6060

spring:
  application:
    name: product-service
  datasource:
    driver-class-name: org.postgresql.Driver
    username: postgres
    password: 1234
    url: jdbc:postgresql://localhost:5432/marketplace
  jpa:
    hibernate:
      ddl-auto: validate
    properties.hibernate:
      use_sql_comments: true
      format_sql: true
  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: true
    baseline-version: 1
    validate-on-migrate: true
    out-of-order: false
    clean-disabled: true
  data:
    redis:
      host: localhost
      port: 6379
      database: 0
      timeout: 2000ms
      lettuce:
        pool:
          max-active: 8
          max-idle: 8
          min-idle: 2
          max-wait: 1000ms
  cache:
    type: redis
    redis:
      cache-null-values: false
      time-to-live: 600000
      key-prefix: "product-service"
      use-key-prefix: true

eureka:
  client:
    service-url:
      default-zone: http://localhost:8761/eureka
logging:
  level:
    org.springframework.data.redis: DEBUG
    org.springframework.cache: TRACE
    com.marketplace.productservice.service: DEBUG
    io.lettuce.core: DEBUG
    org.hibernate.SQL: DEBUG
management:
  endpoints:
    web:
      exposure:
        include: health, info, prometheus, metrics
  endpoint:
    health:
      show-details: always
      probes:
        enabled: true
      show-components: always
    metrics:
      enabled: true
    prometheus:
      enabled: true
  metrics:
    tags:
      application: product-service